<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="UTF-8">
    <title>Quiz_System</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/about.css">
  </head>
<body>
<h1>Welcome to Quiz Demo!</h1>
<h3>Please Sign in!</h3>
 <form action = '/login' method= 'Post'>User name:<br>
  <input type="text" name="username"><br>
 Password:<br>
  <input type="password" name="psw"><br><br>
  <input type="submit" value="Log In">
</form>
</body>
</html>
